.header {
	background-color:$header-color-back;
	color:$header-color;
	height:$header-height;
	line-height:$header-height;
}
//Адрес
.adres{
		font-size:14px;
		span {
			border-bottom:1px dashed $header-color;
		}
		
	}
//-----//
//Логотип
.logo {
		text-align:center;
		font-weight:700;
		font-size:32px;
		line-height:0.7em;
		padding-top: $header-height*0.25;
		span{
			font-size:14px;
			font-weight:300;
		}
	}
//-------//
//Телефон
.tel{
		font-weight:700;
		span{
			font-size:24px;
		}
	}
.tel_svyaz {
	line-height:5px;
}
//-------//
//Выбор языка
.lang {
			font-size:14px;
			font-weight:300;
			padding-left: 15px;
		}
		span.active {
				font-weight:700;
		}
//-------//		